* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

#fullpage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
}

.page {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: "楷体";
    color: #fff;
}
.page:nth-child(1) {
    background:-webkit-linear-gradient(top,rgb(2, 2, 141),rgb(148, 212, 238) 70%,rgb(97, 97, 97) 98%);
}
.page:nth-child(2) {
    background:-webkit-radial-gradient(20% 50%,pink,rgb(148, 212, 238) 70%,rgb(162, 238, 206) 98%);
}
.page:nth-child(3) {
    background: url(images/liuxing.gif) 90% 100% repeat-x black;
}
.page:nth-child(3) {
    background:-webkit-radial-gradient(80% 50%,black,rgb(15, 15, 165));
}
.page:nth-child(5) {
    background-color: rgb(15, 160, 218);
}
.page:nth-child(1) h1{
    font-size: 5em;
    color: white;
    position: relative;
    top: 15%;
    transition: all 1s ease 0s;
    letter-spacing: 50px;
    opacity: 0;
    text-shadow:  2px 2px 5px rgb(8, 8, 8);
}
.active.page:nth-child(1) h1{
    letter-spacing: 10px;
    opacity: 1;
}
.page:nth-child(1) h1::before,.page:nth-child(1) h1::after{
    content: "";
    width: 15%;
    height: 5px;
    display: block;
    position: absolute;
    top: 50%;
    background-color: rgb(231, 231, 231);
    box-shadow:  2px 2px 5px rgb(8, 8, 8);
    transition: all 1.7s ease 0s;
}
.page:nth-child(1) h1::before{
    left: -10%;
}
.page:nth-child(1) h1::after{
    right:-10%;
}
.active.page:nth-child(1) h1::before{
    left: 10%;
}
.active.page:nth-child(1) h1::after{
    right:10%;
}
.page:nth-child(1) img{
    margin-top:0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    transition: all 1.5s ease 0s;
}
.active.page:nth-child(1) img{
    margin-top: 15%;
    opacity: 1;
    transform: rotate(-360deg);
}
.page:nth-child(1) p{
    margin: 50px 0;
    font-size: 30px;
    color: rgb(0, 0, 0);
}


.page:nth-child(2) .box {
    width: 20%;
    height:40%;
    margin: 15% 15%;
    position: relative;
    perspective: 800px;
}

.page:nth-child(2) .sub div {
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    text-align: center;
    background:url(images/huabian.gif) center center no-repeat;
    background-size: contain;
    border-radius: 20%;
    text-shadow: 0px 2px 5px rgb(97, 2, 250);
}

.page:nth-child(2) .sub p{
    line-height: 50px;
    margin: 35% auto;
}
.page:nth-child(2) .sub div:nth-child(1) {
    transform: translateZ(230px);
}
.page:nth-child(2) .sub div:nth-child(2) {
    transform: rotateY(-180deg) translateZ(230px);
}

.page:nth-child(2) .sub div:nth-child(3) {
    transform: rotateY(-90deg) translateZ(230px);
}

.page:nth-child(2) .sub div:nth-child(4) {
    transform: rotateY(90deg) translateZ(230px);
}

.page:nth-child(2) .sub div:nth-child(5) {
    transform: rotateX(90deg) translateZ(230px);
}

.page:nth-child(2) .sub div:nth-child(6) {
    transform: rotateX(-90deg) translateZ(230px);
}

.page:nth-child(2) .sub {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 8s linear 0s;
}

.page:nth-child(2) .box:hover .sub {
    transform: rotateX(180deg) rotateY(360deg) rotateZ(180deg);
}
.page:nth-child(3) .text{
    width: 30%;
    height:55%;
    margin: 10% 55%;
    background: url(images/liuxing.gif) center center repeat-x;
    background-size: 100% 100%;
}